<footer class="bg-dark text-white">
        <div class="container py-4">
          <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Клиенттерге қызмет көрсету</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Көмек &amp; Бізбен байланыс</a></li>
                <li><a class="footer-link" href="#">Оралады &amp; Қайтару</a></li>
                <li><a class="footer-link" href="#">Интернет-дүкендер</a></li>
                <li><a class="footer-link" href="#">Шарттар &amp; Шарттар</a></li>
              </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Компания</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Біз не істейміз?</a></li>
                <li><a class="footer-link" href="#">Қолжетімді қызметтер</a></li>
                <li><a class="footer-link" href="#">Соңғы хабарламалар</a></li>
                <li><a class="footer-link" href="#">Жиі қойылатын сұрақтар</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3">Әлеуметтік медиа</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Twitter</a></li>
                <li><a class="footer-link" href="#">Instagram</a></li>
                <li><a class="footer-link" href="#">Tumblr</a></li>
                <li><a class="footer-link" href="#">Pinterest</a></li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
              <div class="col-lg-6">
                <p class="small text-muted mb-0">&copy;2023 Барлық құқықтар қорғалған.</p>
              </div>
              <div class="col-lg-6 text-lg-right">
                <p class="small text-muted mb-0">Website by <a class="text-white reset-anchor" href="https://www.youtube.com/vijaythapa" target="_blank">Vijay Thapa</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>